{% extends  "base.html" %}
{% load static %}
{% block title %}新增頁面{% endblock title %}
{% block content %}
    <section class="contact section-padding">
        <div class="container">
            <div class="row">
                <form action="" method="post" class="contact-form" data-aos="fade-up" data-aos-delay="300" role="form"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-lg-8 mx-auto col-md-10 col-12">
                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <input type="text" class="form-control" name="title" placeholder="地點名稱" required>
                            </div>

                            <div class="col-lg-12 col-12">
                            <textarea maxlength="40" class="form-control" rows="6" name="content"
                                      placeholder="詳細介紹(最多只能輸入40個字！)" required></textarea>
                            </div>

                            <div class="col-lg-12 col-12">
                                <input id="lat" class="form-control" rows="6" name="lat" placeholder="緯度" type="number"
                                       step="any" min="-180" max="180" required>
                            </div>

                            <div class="col-lg-12 col-12">
                                <input id="lon" class="form-control" rows="6" name="lon" placeholder="經度" type="number"
                                       step="any" min="-180" max="180" required>
                            </div>

                            <div class="col-lg-7 col-12">
                                <select type="selection" id="select-button" name="type">
                                    {% for item in all %}
                                        <option>{{ item.title }}</option>
                                        {% empty %}
                                        <option>種類選擇</option>
                                        <option>建屋</option>
                                        <option>植物</option>
                                        <option>動物</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-lg-5 mx-auto col-7">
                                <button type="submit" class="form-control" id="submit-button" name="submit">新增點位
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-12 mx-auto col-md-7 col-12 mb-4">
                            <div class="blog-header" data-aos="fade-up" data-aos-delay="100">
                                <img id="avatarPreview" src="{% static 'images/box.png' %}" class="img-fluid"
                                     alt="blog header">

                                <div class="blog-header-info">
                                    <h3>
                                        <label class="btn btn-info">
                                            <input id="avatarSelect" style="display:none;" type="file" name="avaImg"
                                                   required accept=".jpeg, .jpg">
                                            <i class="fa fa-photo"></i> 上傳圖片
                                        </label>
                                    </h3>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </section>

{% endblock content %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/exifr/dist/lite.umd.js"></script>
    <script>
        $('#avatarSelect').on('change', function (e) {
            const file = this.files[0];//將上傳檔案轉換為base64字串

            const fr = new FileReader();//建立FileReader物件
            let lon;
            let lat;
            fr.onload = function (e) {
                $('#avatarPreview').attr('src', e.target.result);//读取的结果放入圖片
            };


            // 使用 readAsDataURL 將圖片轉成 Base64
            fr.readAsDataURL(file);
            window.exifr.parse(file).then(exif => {
                try {
                    lon = exif.longitude;
                    lat = exif.latitude;
                } catch (e) {
                    lon = 0;
                    lat = 0;
                }
                $("#lon").val(lon);
                $("#lat").val(lat);
            })

        });

    </script>
{% endblock extra_js %}
