<html>
    <head>
        <title>NLSC地圖協作</title>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/aos.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

        <!-- MAIN CSS -->
        <link rel="stylesheet" href="{% static 'css/templatemo-digital-trend.css' %}">
        <script src="{% static 'js/leaflet-osm.js' %}"></script>
        <script src="{% static 'js/nlsc.js' %}"></script>
        <style>
          #map { height: 50%; width:100% }
          /* css to customize Leaflet default styles  */
          .leaflet-popup-tip,
          .leaflet-popup-content-wrapper {
              background: #e93434;
              color: #ffffff;
              max-width: 300;
              max-height: 300;
          }
          .popupImage {
              max-width: 100;
              max-height: 100;
          }
      </style>
    </head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/index">
              <i class="fa fa-globe"></i>
              {% comment %} 政大地理資訊系統 {% endcomment %}
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if request.user.is_authenticated%}
                          <a href="#about" class="nav-link smoothScroll">{{user_name}} 您好</a>
                        {% else %}
                          <a href="#about" class="nav-link smoothScroll">訪客 您好</a> 
                        {% endif %}                    
                    </li>                  
                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">介紹</a>
                    </li>
                    <li class="nav-item">
                        <a href="/map_refine" class="nav-link smoothScroll">
                        <i class="fa fa-map"></i>
                        地圖
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="\blog" class="nav-link">
                        <i class="fa fa-rss-square"></i>
                        部落格
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}    
                    <li class="nav-item dropdown">  <!-- 加上 dropdown, 表示擁有下一層收合展開的子選單 ********** -->
                      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        會員功能
                      </button>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">  <!-- 子選單的 div ********** -->
                        <a class="dropdown-item" href="\add">新增</a>
                        <a class="dropdown-item" href="\user_blog">我的文章</a>
                      </div>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                    {% if request.user.is_authenticated %}                   
                        <a href="/logout" class="nav-link contact">登出</a>
                    {% else %}
                        <a href="/login" class="nav-link contact">登入</a> 
                    {% endif %}
                     
                    </li>
                </ul>
            </div>
        </div>
    </nav>


     <!-- BLOG DETAIL -->
     <section class="project-detail section-padding-half">
          <div class="container">
               <div class="row">

                    <div class="col-lg-9 mx-auto col-md-10 col-12 mt-lg-5 text-center" data-aos="fade-up">
                      <h4 class="blog-category text-info">{{item.type}}</h4>                      
                      <h1>{{item.title}}</h1>
                      作者：{{item.username}}
                    </div>

               </div>
          </div>
     </section>


     <div class="full-image text-center" data-aos="zoom-in">
       <img src='/media/reImg/re_{{ item.purl }}' class="img-fluid" alt="blog header">
     </div>


     <!-- BLOG DETAIL -->
     <section class="project-detail">
          <div class="container">
               <div class="row">

                  <div class="col-lg-9 mx-auto col-md-11 col-12 my-5 pt-3" data-aos="fade-up">
                    <p>{{item.content}}</p>

                    </div>
               </div>
              
          </div>
          
     </section>

    <section class="contact section-padding">
        <div class="container">
            {% comment %} <div class="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11196.961132529668!2d-43.38581128725845!3d-23.011063013218724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bdb695cd967b7%3A0x171cdd035a6a9d84!2sAv.%20L%C3%BAcio%20Costa%20-%20Barra%20da%20Tijuca%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%20Brazil!5e0!3m2!1sen!2sth!4v1568649412152!5m2!1sen!2sth" width="1920" height="800" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>   {% endcomment %}
            {% comment %} <div id="map_div" style="height:600px; width:100%; border:1px solid black; allowfullscreen="";"></div> {% endcomment %}
            <div id="map"></div>  
        </div>
    </section>


    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">GIS專案測試 </h1>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
            <h4 class="my-4">Contact Info</h4>

            <p class="mb-1">
              <i class="fa fa-phone mr-2 footer-icon"></i> 
              +99 080 070 4224
            </p>

            <p>
              <a href="#">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                hello@company.com
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
            <h4 class="my-4">Our Studio</h4>

            <p class="mb-1">
              <i class="fa fa-home mr-2 footer-icon"></i> 
              地政系
            </p>
          </div>

          <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
            <p class="copyright-text">Copyright &copy; 2020 Your Company
            <br>
            <a rel="nofollow noopener" href="https://templatemo.com">Design: TemplateMo</a></p>
          </div>
        </div>
      </div>
    </footer>

        <script>

        var osm = new L.OSM.Mapnik();
        var nlscmaps = [
        // new L.NLSC.PHOTO2({opacity: 0.7}),
        new L.NLSC.B5000({opacity: 0.7}),
        new L.NLSC.MB5000({opacity: 0.7}),
        new L.NLSC.EMAP0({opacity: 0.7}),
        new L.NLSC.EMAP1({opacity: 0.7}),
        new L.NLSC.EMAP2({opacity: 0.7}),
        new L.NLSC.EMAP({opacity: 0.7}),
        new L.NLSC.LANDSECT({opacity: 0.7}),
        new L.NLSC.Village({opacity: 0.7}),
        new L.NLSC.LUIMAP({opacity: 0.7}),
        ];

        var baseMaps = {};
        baseMaps["開放街圖"] = osm;
        baseMaps["正射影像圖(通用版)"] = new L.NLSC.PHOTO2({opacity: 1});

        var overlayMaps = {};
        for (var i in nlscmaps) {
        overlayMaps[nlscmaps[i].name] = nlscmaps[i];
        }


        var IconSytle = L.Icon.extend({
            options: {
                iconSize:     [40, 40], // size of the icon
                iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
                shadowAnchor: [4, 62],  // the same for the shadow
                popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
            }
        }); 

        var animal_icon = new IconSytle({iconUrl: "{% static 'images/animal.png' %}"});
        var plant_icon = new IconSytle({iconUrl: "{% static 'images/plant.png' %}"});
        var house_icon = new IconSytle({iconUrl: "{% static 'images/house.png' %}"}); 

        // set up the map
        var map = new L.Map('map', {
        center: new L.LatLng(25.00067043186134, 121.57625139421589),
        zoom: 17,
        layers: [baseMaps["正射影像圖(通用版)"], overlayMaps["通用版電子地圖透明"]],
        } )
        .addControl(new L.Control.Scale())
        .addControl(new L.Control.Layers(baseMaps, overlayMaps));

        {% if item.type == "建屋"%}
            var use_icon = house_icon;
        {% elif item.type == "植物"%}
            var use_icon = plant_icon;    
        {% elif item.type == "動物"%}      
            var use_icon = animal_icon;                
        {% else %}     
            var use_icon = animal_icon;   
        {% endif%}   
        var marker = L.marker([{{ item.lat }}, {{ item.lon }}], {icon: use_icon}).addTo(map);
        marker.bindPopup("<strong>{{ item.title }}</strong> <br>種類：{{ item.type }} <br>{{ item.content }} <br> 發佈者： {{ item.username }}。 <br> 日期： {{ item.create_at|date:"Y / m / d" }}。<br> <img src='/media/reImg/re_{{ item.purl }}' class = popupImage >").openPopup();

        </script>
 
        <!-- SCRIPTS -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/aos.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/smoothscroll.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    </body>
</html>
