{% extends  "base_blog.html" %}
{% load static %}
{% block title %}新增頁面{% endblock title %}
{% block css %}
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/modern-card.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row my-2">
        <div class="col-md-12">
            <div class="row">
                {% for item in all %}
                    {% if forloop.counter0|divisibleby:3 %}</div>
                        <div class="row my-5"> {% endif %}
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-img">
                                <!-- <img class="img" src='/media/reImg/re_{{ item.purl }}'  alt="Card image cap"> -->
                                <div id='vrview{{ forloop.counter0 }}'></div>
                            </div>
                            <div class="table">
                                <h6 class="category text-success">
                                    {% if item.type == "建屋" %}
                                        <i class="fa fa-home"></i>
                                    {% elif item.type == "植物" %}
                                        <i class="fa fa-leaf"></i>
                                    {% elif item.type == "動物" %}
                                        <i class="fa fa-tripadvisor"></i>
                                    {% else %}
                                        <i class="fa fa-heart"></i>
                                    {% endif %}
                                    {{ item.type }}
                                </h6>
                                <h4 class="card-caption">{{ item.title }}</h4>
                                <p class="card-description text-info">{{ item.username }}</p>
                                <hr>
                                <p class="card-description">
                                    {{ item.content }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
    <script src="https://storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script>
    <script>

        window.addEventListener('load', onVrViewLoad);

        function onVrViewLoad() {
            // Selector '#vrview' finds element with id 'vrview'.
            {% for item in all %}
                new VRView.Player('#vrview{{ forloop.counter0 }}', {
                    width: "100%",
                    height: "300px",
                    image: '{{ item.purl }}',
                    is_vr_off: true
                });
            {% endfor %}
        }
    </script>
{% endblock extra_js %}