<!DOCTYPE html>
<html lang="en">
<head>

     <title>錯誤</title>
<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     {% load static %}
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/aos.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/templatemo-digital-trend.css' %}">

</head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg position-absolute">
        <div class="container">
            <a class="navbar-brand" href="/index">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/index" class="nav-link smoothScroll" >
                        <i class="fa fa-backward"></i>
                        回主頁
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/map" class="nav-link smoothScroll">
                        <i class="fa fa-map"></i>
                        地圖
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="blog.html" class="nav-link">
                        <i class="fa fa-rss-square"></i>
                        部落格
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/profileUpdate" class="nav-link">注冊</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


     <!-- BLOG -->
     <section class="blog section-padding">
          <div class="container">
               <div class="row">
                    <div class="col-lg-5 mr-auto mt-5 pt-5 col-md-6 col-12 newsletter-form">
                      <h2 data-aos="fade-up" data-aos-delay="300">操作上可能發生錯誤，請在試一次或是與我們聯絡</h2>   
                    </div>

               </div>
          </div>
     </section>


 


     <!-- SCRIPTS -->
     <script src="{% static 'js/jquery.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/aos.js' %}"></script>
     <script src="{% static 'js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'js/smoothscroll.js' %}"></script>
     <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>