{% extends  "base.html" %}
{% load static %}
{% block title %}政大地理資訊系統{% endblock title %}
{% block content %}
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">歡迎使用政大地理資訊系統</h1>

                                   <a href="/map_refine" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">開始使用</a>

                                 
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="{% static 'images/nccu.png' %}" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">
                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">透過 <strong>地圖總覽</strong> 來和其他使用者一起共享有興趣的地點吧！</h2>

                              <p class="mb-0" data-aos="fade-up">只要對特定的關鍵字進行選擇就能夠快速的針對不同種類的地點進行搜索！ 
                              <br><br>點擊 <a href="\map">這裏</a> 開始你的地圖協作吧</p>
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                          <img src="{% static 'images/office.png' %}" class="img-fluid" alt="office">
                        </div>
                    </div>

               </div>
          </div>
     </section>


 

     <!-- TESTIMONIAL -->
     <section class="testimonial section-padding">
          <div class="container">
               <div class="row">

                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="contact-image" data-aos="fade-up">

                          <img src="{% static 'images/female-avatar.png' %}" class="img-fluid" alt="website">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-7 col-12">
                      <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">簡潔直觀的部落格</h4>

                      <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

                      <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">使用部落格功能,快速尋找到你有興趣的主題與坐標，一起加入地圖協作的行列吧！</h2>

                      {% comment %} <p data-aos="fade-up" data-aos-delay="400">
                        <strong>Mary Zoe</strong>

                        <span class="mx-1">/</span>

                        <small>Digital Agency (CEO)</small>
                      </p> {% endcomment %}
                    </div>

               </div>
          </div>
     </section>
{% endblock content %}

