{% extends  "base.html" %}
{% load static %}
{% block title %}登入{% endblock title %}
{% block content %}

    <!-- BLOG -->
    <section class="blog section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 ml-auto mt-5 pt-5 col-md-6 col-12">

                    <img src="{% static 'images/newsletter.png' %}" data-aos="fade-up" data-aos-delay="100"
                         class="img-fluid" alt="newsletter">
                </div>

                <div class="col-lg-5 mr-auto mt-5 pt-5 col-md-6 col-12 newsletter-form">
                    <h2 data-aos="fade-up" data-aos-delay="300">輸入你的帳號密碼來登入吧！</h2>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group mt-4" data-aos="fade-up" data-aos-delay="400">
                            <input name="username" type="text" class="form-control"
                                   id="username" placeholder="帳號" minlength="5" required>
                            <input name="password" type="password" class="form-control"
                                   id="password" placeholder="密碼" required>

                            <small id="msg" class="form-text text-danger">{{ message }}</small>

                        </div>

                        {% comment %}
                            <div class="form-group form-check" data-aos="fade-up" data-aos-delay="500">
                                <input name="monthly" type="checkbox" class="form-check-input" id="monthly">

                                <label class="form-check-label" for="monthly">Please send me a monthly
                                    newsletter.</label>
                            </div> {% endcomment %}

                        <button type="submit"  class="btn w-100 mt-3">登入</button>
                    </form>
                    <a href="/profileUpdate"><button class="btn w-100 mt-3" style="background: #00bcd4">注冊</button><a>
                </div>

            </div>
        </div>
    </section>
{% endblock content %}