<!DOCTYPE html>
<html lang="en">
<head>

     <title>地圖協作</title>
<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     {% load static %}
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/aos.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/templatemo-digital-trend.css' %}">
     <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?callback=loadGoogleMap"></script>
     <script language="javascript">
        google.maps.event.addDomListener(window, 'load', loadGoogleMap);  //啟動GoogleMap


        function loadGoogleMap() {  //顯示GoogleMap
          var center = new google.maps.LatLng(25.00067043186134, 121.57625139421589);  //設定中心點
          var markers = [];  //地標串列
			    var i=0;
          map = new google.maps.Map(document.getElementById('map_div'), {  //設定地圖
            zoom: 13,
            center: center,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
          });
          {% for item in all %}  //逐筆建立地標
            var latLng = new google.maps.LatLng({{item.lat}}, {{item.lon}});  //景點坐標
            var marker = new google.maps.Marker({
                position: latLng,
                title: "{{item.title}}",
                animation: google.maps.Animation.DROP,  //動畫方式
                map: map
            });
            markers.push(marker);  //將地標加入串列
            var message = "<div class='markdiv'><div class='marktitle'>" + "{{item.title}}" + "</div>" + "{{item.content}}"  +"<br>種類："+"{{item.type}}"  +"<br>發佈者："+"{{item.username}}" + "</div><a href='#' onClick='show_streeview()'><img src='/media/reImg/re_{{ item.purl }}'></a></div>"
            attachMessage(i, message, latLng);
            i++;
          {% endfor %}

          var info_window = [];  //訊息視窗陣列
          function attachMessage(index, msg, latLng) {  //加入地標訊息視窗
            google.maps.event.addListener(markers[index], 'click', function(event) {
              close_other_makers(index);  //關閉其他地標訊息視窗
              info_window[index] = new google.maps.InfoWindow({  //建立地標訊息視窗
                content: msg,
                maxWidth: 280
              });
              info_window[index].open(markers[index].getMap(), markers[index]);  //顯示地標訊息視窗
              markers[index].getMap().panTo(latLng);  //將目前地標設為中心
              panorama = markers[index].getMap().getStreetView();  //設定街景
              panorama.setPosition(latLng);  //街景位置
              panorama.setPov({  //建立街景
                heading: 0,
                zoom: 1,
                pitch: 0
              });
            });
          }
          
          function close_other_makers(index){  //關閉其他地標訊息視窗
            var makers_count = markers.length;  //地標數量
            for (var i=0;i<makers_count;i++){
              if (i == index ) continue;  //如果是目前地標就跳過
              if (info_window[i]) info_window[i].close();  //關閉地標訊息視窗
              info_window[i] = null;  //清除地標訊息視窗
            }
          }

          function show_streeview() {  //顯示街景
            panorama.setVisible(true);
          }
        }

      </script>
 

</head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg position-absolute">
        <div class="container">          
            {% if request.user.is_authenticated%}
              <a href="\index" class="navbar-brand"> 地圖協作：{{user_name}}</a>
            {% else %}
              <a href="\index" class="navbar-brand">地圖協作：訪客</a> 
            {% endif %}     


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
              <form action="" method="POST" name="form1" id="form1">
                  <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav ml-auto">
                  {% csrf_token %}
                    <li class="nav-item">
                          <div class="col-lg-12 col-12">
                            <input type="text" class="form-control" name="title" placeholder="輸入要搜尋的關鍵字">
                          </div>
                    {% comment %} </li> {% endcomment %}
                    <li class="nav-item">
                        <div class="col-lg-12  col-12">
                            <select type="selection" id="select-button" name = "type">
                                <option>種類選擇</option>
                                <option>建屋</option>
                                <option>植物</option>
                                <option>動物</option>
　　　　　　　　　　　　　　　</select> 
                        </div>
                    </li>                    
                  </form>
                </ul>
            </div>
        </div>
    </nav>


     <!-- CONTACT -->
     <section class="contact section-padding">
          <div class="container">
              {% comment %} <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11196.961132529668!2d-43.38581128725845!3d-23.011063013218724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bdb695cd967b7%3A0x171cdd035a6a9d84!2sAv.%20L%C3%BAcio%20Costa%20-%20Barra%20da%20Tijuca%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%20Brazil!5e0!3m2!1sen!2sth!4v1568649412152!5m2!1sen!2sth" width="1920" height="800" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
              </div>   {% endcomment %}
              <div id="map_div" style="height:600px; width:100%; border:1px solid black; allowfullscreen="";"></div>
          </div>
     </section>

<!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->



    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">We make creative <strong>brands</strong> only.</h1>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
            <h4 class="my-4">Contact Info</h4>

            <p class="mb-1">
              <i class="fa fa-phone mr-2 footer-icon"></i> 
              +99 080 070 4224
            </p>

            <p>
              <a href="#">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                hello@company.com
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
            <h4 class="my-4">Our Studio</h4>

            <p class="mb-1">
              <i class="fa fa-home mr-2 footer-icon"></i> 
              Av. Lúcio Costa - Barra da Tijuca, Rio de Janeiro - RJ, Brazil
            </p>
          </div>

          <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
            <p class="copyright-text">Copyright &copy; 2020 Your Company
            <br>
            <a rel="nofollow noopener" href="https://templatemo.com">Design: TemplateMo</a></p>
          </div>

          <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
            
            <ul class="footer-link">
              <li><a href="#">Stories</a></li>
              <li><a href="#">Work with us</a></li>
              <li><a href="#">Privacy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
            <ul class="social-icon">
              <li><a href="#" class="fa fa-instagram"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-dribbble"></a></li>
              <li><a href="#" class="fa fa-behance"></a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>


     <!-- SCRIPTS -->
     <script src="{% static 'js/jquery.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/aos.js' %}"></script>
     <script src="{% static 'js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'js/smoothscroll.js' %}"></script>
     <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>