{% extends  "base_360.html" %}
{% load static %}
{% block title %}360&deg;照片顯示{% endblock title %}
{% block css %}
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <style>
        .back {
            z-index: 10;
        }
    </style>
{% endblock %}
{% block content %}
    <a-scene>
        <a-sky src="{{ item.purl }}" rotation="0 -130 0"></a-sky>
        <a-text font="kelsonsans" value="{{ item.title }}" width="6" position="-2.5 0.25 -1.5"
                rotation="0 15 0"></a-text>
        
    </a-scene>

{% endblock content %}
